<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>景点门票</string>
		<key>subtitle</key>
		<string>自然古迹、温泉、主题乐园</string>
		<key>webUrl</key>
		<string></string>
		<key>index</key>
		<string>12</string>
		<key>controller</key>
		<string>ZKSceneryTicketViewController</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKFoodViewController</string>
		<key>title</key>
		<string>特色美食</string>
		<key>subtitle</key>
		<string>寻找当地小吃、美食、享受舌尖上的盛宴</string>
		<key>webUrl</key>
		<string></string>
		<key>index</key>
		<string>11</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKHotelViewController</string>
		<key>title</key>
		<string>酒店住宿</string>
		<key>subtitle</key>
		<string>客栈、商务、五星级豪华酒店</string>
		<key>webUrl</key>
		<string></string>
		<key>index</key>
		<string>10</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKShoppingViewController</string>
		<key>index</key>
		<string>9</string>
		<key>title</key>
		<string>特色购物</string>
		<key>subtitle</key>
		<string>当地特产、纪念品</string>
		<key>webUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKRecreationViewController</string>
		<key>index</key>
		<string>8</string>
		<key>title</key>
		<string>休闲娱乐</string>
		<key>subtitle</key>
		<string>漂流、滑翔、少数民族风情火把节</string>
		<key>webUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKLiveInPZHHtmlViewController</string>
		<key>index</key>
		<string>16</string>
		<key>title</key>
		<string>康养在攀枝花</string>
		<key>subtitle</key>
		<string>康养在攀枝花</string>
		<key>webUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>controller</key>
		<string></string>
		<key>index</key>
		<string>13</string>
		<key>title</key>
		<string>自驾游</string>
		<key>subtitle</key>
		<string>攀枝花自驾线路</string>
		<key>webUrl</key>
		<string>zjy/index.html</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKnavMapViewController</string>
		<key>index</key>
		<string>14</string>
		<key>title</key>
		<string>找旅行社</string>
		<key>subtitle</key>
		<string>实时定位周边旅行社</string>
		<key>webUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKsrdzViewController</string>
		<key>index</key>
		<string>15</string>
		<key>title</key>
		<string>私人定制</string>
		<key>subtitle</key>
		<string>为您定制私人旅行方案</string>
		<key>webUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<string>6</string>
		<key>title</key>
		<string>旅游季节</string>
		<key>subtitle</key>
		<string>春夏秋冬，四季各有所玩</string>
		<key>webUrl</key>
		<string></string>
		<key>controller</key>
		<string>ZKTheTouristSeasonViewController</string>
	</dict>
	<dict>
		<key>index</key>
		<string>5</string>
		<key>title</key>
		<string>景区现状</string>
		<key>subtitle</key>
		<string>各景区景点拥堵指数</string>
		<key>webUrl</key>
		<string></string>
		<key>controller</key>
		<string>ZKSceneStatusViewController</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKTripViewController</string>
		<key>index</key>
		<string>4</string>
		<key>title</key>
		<string>行程参考</string>
		<key>subtitle</key>
		<string>旅游行程，官方规划线路</string>
		<key>webUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKStrategyViewController</string>
		<key>index</key>
		<string>3</string>
		<key>title</key>
		<string>旅游攻略</string>
		<key>subtitle</key>
		<string>驴友热门游记</string>
		<key>webUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZK720ScenicViewController</string>
		<key>index</key>
		<string>2</string>
		<key>title</key>
		<string>720全景</string>
		<key>subtitle</key>
		<string>各景点720全景图，身临其境</string>
		<key>webUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>controller</key>
		<string>ZKInformationViewController</string>
		<key>index</key>
		<string>1</string>
		<key>title</key>
		<string>旅游资讯</string>
		<key>subtitle</key>
		<string>旅游活动资讯</string>
		<key>webUrl</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<string>0</string>
		<key>title</key>
		<string>推荐</string>
		<key>subtitle</key>
		<string>人气景点推荐</string>
		<key>webUrl</key>
		<string></string>
		<key>controller</key>
		<string>ZKrecommendViewController</string>
	</dict>
</array>
</plist>
